{% extends 'site/layouts/base.html' %}

{% block content %}
<div class="wrapper">
    <!-- Started -->
    <div class="section started">
        <div class="centrize full-width">
            <div class="vertical-center">
                <div class="started-content">

                    <div class="h-title glitch-effect" data-text="Vladyslav Bergman">Vladyslav Bergman</div>

                    <div class="h-subtitle typing-subtitle">

                        <p>Senior Software Developer</p>

                        <p>Traveler, Musician, Dreamer</p>

                        <p>Based in Ukraine, Odessa</p>

                    </div>
                    <span class="typed-subtitle"></span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}