{% extends 'site/layouts/base.html' %}
{% load static %}

{% block content %}
<div class="wrapper">
    <!-- Started -->
    <div class="section started">
        <div class="centrize full-width">
            <div class="vertical-center">
                <div class="started-content">
                    <div class="h-title glitch-effect" data-text="Blog">Blog</div>
                    <div class="h-subtitle typing-bread">
                        <p><a href="http://localhost:8000">Home</a> / <a href="http://localhost:8000/blog/">Blog</a></p>
                    </div>
                    <span class="typed-bread"></span>
                </div>
            </div>
        </div>
        <a href="#" class="mouse_btn"><span class="ion ion-mouse"></span></a>
    </div>

    <!-- Blog -->
    <div class="section blog">
        <div class="content">
            <div class="title">
                <div class="title_inner">Posts</div>
            </div>
            <table>
                <tbody>
                {% for post in latest_posts %}
                <tr>

                    <td>
                        <div class="post-text-bottom">
                            <div class="desc">
                                <div class="date">{{post.clear_created_date}}</div>
                                <a href="{% url 'core-urls:post_url' post.slug %}" class="lnk"><h3>{{post.title}}</h3>
                                </a>
                                <div class="byline">
                                    by <a href="{{post.contact}}">{{post.author}}</a>
                                </div>
                                <div class="tags-links">
                                    <span>Posted in:</span>
                                    {% for tag in post.tags.all %}
                                    <a href="" rel="tag">#{{tag}}</a>
                                    {% endfor %}
                                </div>
                            </div>


                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="clear"></div>
        </div>
    </div>
</div>
{% endblock content %}