{% extends 'site/layouts/base.html' %}

{% block meta %}
{{ post.render_all_metadata|safe }}
<link rel="canonical" href="https://codefather.dev"/>
{% endblock meta %}

{% block content %}
<!-- Wrapper -->
<div class="wrapper">
    <!-- Started -->
    <style>
        code {
            border: 0.2px solid;
            border-radius: 5px;
            font-size: 13px;
            font-family: "Roboto Mono";
            font-style: normal;

        }
    </style>
    <div class="section started">
        <div class="centrize full-width">
            <div class="vertical-center">
                <div class="started-content">
                    <div class="date">{{post.clear_created_date}}</div>
                    {{post.glitch_title|safe}}
                    <div class="h-subtitle typing-bread">
                        <p>by <a href="">{{post.author}}</a></p>
                    </div>
                    <span class="typed-bread"></span>
                </div>
            </div>
        </div>
        <a href="#" class="mouse_btn"><span class="ion ion-mouse"></span></a>
    </div>

    <!-- Blog -->
    <br><br><br><br><br><br>
    <div class="section blog">

        <div class="content" id="content">

            <div class="single-post-text">
                {{ post.body|safe }}
            </div>

            <div class="post-text-bottom">
                <div class="social-share">
                    <span>Share:</span>
                    <a class="share-btn share-btn-facebook share-btn-1" title="Share on Facebook">
                        <i class="ion ion-social-facebook"></i>
                    </a>
                    <a class="share-btn share-btn-twitter share-btn-2" title="Share on Twitter">
                        <i class="ion ion-social-twitter"></i>
                    </a>
                    <a class="share-btn share-btn-linkedin share-btn-3" title="Share on Linkedin">
                        <i class="ion ion-social-linkedin"></i>
                    </a>
                    <a class="share-btn share-btn-reddit share-btn-4" title="Share on Reddit">
                        <i class="ion ion-social-reddit"></i>
                    </a>
                    <a class="share-btn share-btn-pinterest share-btn-5" title="Share on Pinterest">
                        <i class="ion ion-social-pinterest"></i>
                    </a>
                    <a class="share-btn share-btn-instagram share-btn-5" title="Share on Instagram">
                        <i class="ion ion-social-instagram"></i>
                    </a>
                </div>


                <!--                <div class="cat-links">-->
                <!--                    <span>Posted in</span>-->

                <!--                    <a href="/categories/video">Video</a>,-->

                <!--                    <a href="/categories/music">Music</a>-->

                <!--                </div>-->


                <div class="byline">
                    by <a href="{{post.author_contact}}">{{post.author}}</a>
                </div>

                <div class="tags-links">
                    <span>Posted in:</span>
                    {% for tag in post.tags.all %}
                    <a href="" rel="tag">#{{tag.name}}</a>
                    {% endfor %}
                </div>

            </div>

            <nav class="navigation post-navigation">
                <div class="nav-links">

                    <div class="nav-previous">
                        <a href="/music/2020/08/05/by-spite-about/" title="By spite about do of do allow blush"><span
                                class="post-nav-next post-nav-text">Prev</span></a>
                    </div>
                    <div class="nav-next">
                        <a href="/mobile/2020/07/05/design-in-mobile/" title="Design in Mobile Application"><span
                                class="post-nav-prev post-nav-text">Next</span></a>
                    </div>
                </div>
            </nav>
            {% if post.is_comments_available %}
            <div class="post-comments">
                <div class="title">
                    <div class="title_inner">Comments</div>
                </div>
                <div class="comments">
                    <div id="disqus_thread"></div>
                    <script>
                        var disqus_config = function () {
                            this.page.url = "https://codefather.dev{{post.get_absolute_url}}";  /* Replace PAGE_URL with your page's canonical URL variable */
                            this.page.identifier = "{{post.get_absolute_url}}"; /* Replace PAGE_IDENTIFIER with your page's unique identifier variable */
                        };
                        (function () { // DON'T EDIT BELOW THIS LINE
                            var d = document, s = d.createElement('script');
                            s.src = 'https://codefatherdev.disqus.com/embed.js';
                            s.setAttribute('data-timestamp', +new Date());
                            (d.head || d.body).appendChild(s);
                        })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments
                        powered by Disqus.</a></noscript>

                </div>
            </div>
            {% endif %}


            <div class="clear"></div>
        </div>
    </div>
</div>
{% endblock content %}