{% extends 'site/layouts/base.html' %}
{% load static %}

{% block content %}
<div class="wrapper">
    <!-- Started -->
    <div class="section started">
        <div class="centrize full-width">
            <div class="vertical-center">
                <div class="started-content">
                    <div class="h-title glitch-effect" data-text="Projects">Projects</div>
                    <div class="h-subtitle typing-bread">
                        <p><a href="http://localhost:8000">Home</a> / <a
                                href="http://localhost:8000/projects">Projects</a>
                        </p>
                    </div>
                    <span class="typed-bread"></span>
                </div>
            </div>
        </div>
        <a href="#" class="mouse_btn"><span class="ion ion-mouse"></span></a>
    </div>

    <!-- Works -->
    <div class="section works">
        <div class="content">

            <div class="filter-menu">
                <div class="filters">

                    <div class="btn-group">
                        <label data-text="All" class="glitch-effect">
                            <input type="radio" name="fl_radio" value=".box-item"/>All
                        </label>
                    </div>
                    <div class="btn-group">
                        <label data-text="Links">
                            <input type="radio" name="fl_radio" value=".f-ideas"/>Ideas
                        </label>
                    </div>

                    <div class="btn-group">
                        <label data-text="Image">
                            <input type="radio" name="fl_radio" value=".f-opensource"/>Opensource
                        </label>
                    </div>

                    <div class="btn-group">
                        <label data-text="Gallery">
                            <input type="radio" name="fl_radio" value=".f-production"/>Production
                        </label>
                    </div>
                </div>
            </div>

            <div class="box-items portfolio-items">
                <div class="box-item f-opensource">
                    <div class="image">
                        <a href="#popup--works-cardboard-box" class="has-popup-media">
                            <img src="https://img.freepik.com/free-vector/hand-drawn-crawfish-illustration_23-2149249045.jpg?w=2000"
                                 alt="Cardboard Box"/>
                            <span class="info">
							<span class="centrize full-width">
								<span class="vertical-center">
									<span class="ion ion-ios-plus-empty"></span>
								</span>
							</span>
						</span>
                        </a>
                    </div>
                    <div class="desc">
                        <div class="category">Opensource</div>
                        <a href="#popup--works-cardboard-box" class="name has-popup-media">Lobster</a>
                    </div>
                    <div id="popup--works-cardboard-box" class="popup-box mfp-fade mfp-hide">
                        <div class="content">
                            <div class="image">
                                <img src="https://img.freepik.com/free-vector/hand-drawn-crawfish-illustration_23-2149249045.jpg?w=2000"
                                     alt="Cardboard Box"/>
                            </div>
                            <div class="desc">
                                <div class="category">Opensource</div>
                                <h4>Lobster</h4>
                                <div class="single-post-text">
                                    <p>Idiomatic Python to (<b>Python</b>, C, Rust, Go) transpiler.
                                        Inspired by <a href="https://github.com/konchunas/pyrs" target="_blank">Pyrs</a>
                                        project.
                                    </p>

                                    <p>
                                        Lobster's original idea is about to write low-level,
                                        high-performance extensions of the Python language in Python itself,
                                        without knowledge of:
                                    <ul>
                                        <li><a href="https://en.wikipedia.org/wiki/C_(programming_language)">C</a>/<a
                                                href="https://cython.org/">Cython</a></li>
                                        <li><a href="https://docs.python.org/3/c-api/index.html"
                                               target="_blank">CAPI</a></li>
                                        <li><a href="https://cffi.readthedocs.io/en/latest/#" target="_blank">CFFI</a>
                                        </li>
                                        <li><a href="https://www.pypy.org/">PyPy</a>/<a
                                                href="https://numba.pydata.org/">Numba</a></li>
                                        <li>and other extensions and python performance boosters</li>
                                    </ul>

                                    <p>In simple terms, you write slow Python code, and Lobster will traspile
                                        your Python source code into C, Rust, Go source code. For example,
                                        a Python class will be transpiled into a Rust struct, where Python class
                                        methods will be implementations into the Rust struct. Inheritance and,
                                        Multiple inheritance will be represented as a chain of structures
                                        extending each other</p>

                                    <p>It will neatly collect a tree of all calls, variables, functions,
                                        classes, modules, and compile a structural tree for them for the target
                                        source code. Some implementations allow for instant embedding extensions
                                        into your Python Environment. </p>


                                    <p>For example, Rust has <a href="https://pyo3.rs/v0.16.4/">Pyo3</a> and
                                        <a href="https://github.com/PyO3/maturin">Maturin</a>, and C has
                                        <a href="https://cffi.readthedocs.io/en/latest/#">CFFI</a>,
                                        <a href="https://docs.python.org/3/c-api/index.html">CAPI</a>,
                                        <a href="https://cython.org/">Cython</a>.
                                    </p>
                                    <p>Lobster based on <a href="https://docs.python.org/3/library/ast.html">
                                        AST (Abstract Syntax Tree)</a> and it extends the standard Visitor structure.
                                    </p>


                                    <p>It Carefule spawning
                                        <a href="https://docs.python.org/3/reference/lexical_analysis.html">lexin</a>
                                        and <a href="https://docs.python.org/3/reference/grammar.html">grammar</a></p>
                                    
                                    <h3>Btw, if you keep confusing CPython and Cython,
                                        I'll blow your head off 😂🧐</h3>
                                    <h4 style="text-align: right">SERIOUSLY...</h4>


                                </div>

                                <a href="https://github.com/codefather-labs/lobster" target="_blank" class="btn"
                                   data-text="View Project">View
                                    Project</a>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="box-item f-ideas">
                    <div class="image">
                        <a href="https://youtu.be/S4L8T2kFFck" class="has-popup-video">
                            <img src="{% static 'site/assets/img/works/work2.jpg' %}" alt="Coffee Cup In Hand"/>
                            <span class="info">
							<span class="centrize full-width">
								<span class="vertical-center">
									<span class="ion ion-videocamera"></span>
								</span>
							</span>
						</span>
                        </a>
                    </div>
                    <div class="desc">
                        <div class="category">Idea</div>
                        <a href="https://youtu.be/S4L8T2kFFck" class="name has-popup-video">Coffee Cup In Hand</a>
                    </div>
                </div>


                <div class="box-item f-ideas">
                    <div class="image">
                        <a href="https://bslthemes.com/" class="has-popup-link" target="_blank">
                            <img src="{% static 'site/assets/img/works/work3.jpg' %}"
                                 alt="Love & Care Ceramic Bottles"/>
                            <span class="info">
							<span class="centrize full-width">
								<span class="vertical-center">
									<span class="ion ion-link"></span>
								</span>
							</span>
						</span>
                        </a>
                    </div>
                    <div class="desc">
                        <div class="category">Idea</div>
                        <a target="_blank" href="https://bslthemes.com/" class="name has-popup-link">Love & Care Ceramic
                            Bottles</a>
                    </div>
                </div>


                <div class="box-item f-ideas">
                    <div class="image">
                        <a href="https://w.soundcloud.com/player/?visual=true&#038;url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F221650664&#038;show_artwork=true"
                           class="has-popup-music">
                            <img src="{% static 'site/assets/img/works/work6.jpg' %}"
                                 alt="Marta Veludo Beautiful Poster"/>
                            <span class="info">
							<span class="centrize full-width">
								<span class="vertical-center">
									<span class="ion ion-music-note"></span>
								</span>
							</span>
						</span>
                        </a>
                    </div>
                    <div class="desc">
                        <div class="category">Idea</div>
                        <a href="https://w.soundcloud.com/player/?visual=true&#038;url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F221650664&#038;show_artwork=true"
                           class="name has-popup-music">Marta Veludo Beautiful Poster</a>
                    </div>
                </div>


                <div class="box-item f-ideas">
                    <div class="image">
                        <a href="{% static 'site/assets/img/works/work7.jpg' %}" class="has-popup-image">
                            <img src="{% static 'site/assets/img/works/work7.jpg' %}" alt="Minimal Poster Frame"/>
                            <span class="info">
							<span class="centrize full-width">
								<span class="vertical-center">
									<span class="ion ion-image"></span>
								</span>
							</span>
						</span>
                        </a>
                    </div>
                    <div class="desc">
                        <div class="category">Idea</div>
                        <a href="{% static 'site/assets/img/works/work7.jpg' %}" class="name has-popup-image">Minimal
                            Poster Frame</a>
                    </div>
                </div>


                <div class="box-item f-production">
                    <div class="image">
                        <a href="{% static 'site/assets/img/works/work4.jpg' %}" class="has-popup-image">
                            <img src="{% static 'site/assets/img/works/work4.jpg' %}" alt="Shopping gift bag"/>
                            <span class="info">
							<span class="centrize full-width">
								<span class="vertical-center">
									<span class="ion ion-image"></span>
								</span>
							</span>
						</span>
                        </a>
                    </div>
                    <div class="desc">
                        <div class="category">Production</div>
                        <a href="{% static 'site/assets/img/works/work4.jpg' %}" class="name has-popup-image">Shopping
                            gift bag</a>
                    </div>
                </div>


                <div class="box-item f-production">
                    <div class="image">
                        <a href="#popup--works-social-website" class="has-popup-media">
                            <img src="{% static 'site/assets/img/works/work9.jpg' %}" alt="Social Website"/>
                            <span class="info">
							<span class="centrize full-width">
								<span class="vertical-center">
									<span class="ion ion-ios-plus-empty"></span>
								</span>
							</span>
						</span>
                        </a>
                    </div>
                    <div class="desc">
                        <div class="category">Production</div>
                        <a href="#popup--works-social-website" class="name has-popup-media">Social Website</a>
                    </div>
                    <div id="popup--works-social-website" class="popup-box mfp-fade mfp-hide">
                        <div class="content">
                            <div class="image">
                                <img src="{% static 'site/assets/img/works/work9.jpg' %}" alt="Social Website"/>
                            </div>
                            <div class="desc">
                                <div class="category">Content</div>
                                <h4>Social Website</h4>
                                <div class="single-post-text">
                                    <p>So striking at of to welcomed resolved. Northward by described up household
                                        therefore attention. Excellence decisively nay man yet impression for contrasted
                                        remarkably.</p>

                                    <p>Forfeited you engrossed but gay sometimes explained. Another as studied it to
                                        evident. Merry sense given he be arise. Conduct at an replied removal an
                                        amongst. Remaining determine few her two cordially admitting old.</p>

                                    <p>^Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                                        Curae; Pellentesque suscipit.</p>

                                    <p>Tiled say decay spoil now walls meant house. My mr interest thoughts screened of
                                        outweigh removing. Evening society musical besides inhabit ye my. Lose hill well
                                        up will he over on. Increasing sufficient everything men him admiration
                                        unpleasing.</p>

                                    <ul>
                                        <li>Greatest properly off ham exercise all.</li>
                                        <li>Unsatiable invitation its possession nor off.</li>
                                        <li>All difficulty estimating unreserved increasing the solicitude.</li>
                                    </ul>

                                    <p>Unpleasant astonished an diminution up partiality. Noisy an their of meant. Death
                                        means up civil do an offer wound of.</p>

                                </div>

                                <a href="https://bslthemes.com/" target="_blank" class="btn" data-text="View Project">View
                                    Project</a>

                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <div class="clear"></div>
        </div>
    </div>
</div>
{% endblock content %}