{% extends 'site/layouts/base.html' %}
{% load static %}

{% block content %}
<div class="wrapper">


    <!-- Started -->
    <div class="section started">
        <div class="centrize full-width">
            <div class="vertical-center">
                <div class="started-content">
                    <div class="h-title glitch-effect" data-text="Resume">Resume</div>
                    <div class="h-subtitle typing-bread">
                        <p><a href="http://localhost:8000">Home</a> / <a href="http://localhost:8000/resume/">Resume</a>
                        </p>
                    </div>
                    <span class="typed-bread"></span>
                </div>
            </div>
        </div>
        <a href="#" class="mouse_btn"><span class="ion ion-mouse"></span></a>
    </div>


    <!-- About -->
    <div class="section about">
        <div class="content">

            <div class="title">
                <div class="title_inner">About Me</div>
            </div>


            <div class="image">
                <img src="{% static 'site/assets/img/man1.jpeg' %}" alt=""/>
            </div>


            <div class="desc">
                <p><strong>Hello! I’m Vlad Bergman.</strong><br> Software Developer from Ukraine, Odessa.
                    I have rich experience in Python, especially in web development.
                    I'm interested in low-level development in C and Rust. I dream of one day opening
                    my own microcomputer company, which is why I would like to do embedded development,
                    for example, under esp32 or at least arduino. But unfortunately I don't have time for that.
                </p>

                <div class="info-list">
                    <ul>

                        <li><strong>Name:</strong> Vlad</li>

                        <li><strong>Age:</strong> 29 Years</li>

                        <li><strong>Job:</strong> Senior Software Developer</li>

                        <li><strong>Citizenship:</strong> Ukraine 🇺🇦</li>

                        <li><strong>Residence:</strong> Odessa</li>
                    </ul>
                </div>
                <div class="bts"><a href="#" class="btn fill"
                                    data-text="Download CV">Download CV</a></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>


    <!-- Resume -->
    <div class="section resume">
        <div class="content">
            <div class="cols">
                <div class="col col-md">
                    <div class="title">
                        <div class="title_inner">Experience</div>
                    </div>
                    <div class="resume-items">
                        <div class="resume-item active">
                            <div class="date">2021 - 2022</div>
                            <div class="name">Main Backend Dev -
                                <a href="https://canvagramofficial.com">Canvagram</a>, Canada, Ottawa
                            </div>
                            <p>
                                Main Backend developer of Canvagram project
                            </p>
                        </div>

                        <div class="resume-item active">
                            <div class="date">2021 - 2022</div>
                            <div class="name">Main Python Dev -
                                <a href="https://www.sportmasterdata.com">Sport Master Data SIA</a>, Latvia, Riga
                            </div>
                            <p>
                                Main developer of payment systems aggregator and software for payment terminals
                                which integrated with aggregator
                            </p>
                        </div>
                        <div class="resume-item active">
                            <div class="date">2019 - 2019</div>
                            <div class="name">Support Python Dev -
                                <a href="https://carpedia.club">Carpedia</a>, Russia, Moscow
                            </div>
                            <p>
                                Support developer for small automotive startup for the Japanese market
                            </p>
                        </div>

                        <div class="resume-item active">
                            <div class="date">2018 - 2018</div>
                            <div class="name">Senior Python Dev -
                                <a href="https://eblitz.gg">Eblitz Gaming</a>, England, London
                            </div>
                            <p>
                                Participation in the development of the server part for eBlitz gaming app
                            </p>
                        </div>

                    </div>
                </div>
                <div class="col col-md">
                    <div class="resume-items">
                        <div class="resume-item active">
                            <div class="date">2016 - 2016</div>
                            <div class="name">Main Python Dev -
                                Moscow, Russia
                            </div>
                            <p>
                                Main developer of API bridge between trading interface and blockchain
                                <a href="https://bitshares.org">Bitshares</a> node (Freelance)
                            </p>
                        </div>

                        <div class="resume-item active">
                            <div class="date">2016 - 2016</div>
                            <div class="name">Main Python Dev -
                                <a href="https://drtrial.ru">Dr.Trial</a>, Saint Petersburg , Russia
                            </div>
                            <p>
                                Main developer of CRM System for commercial/research medical organization (Freelance)
                            </p>
                        </div>

                        <div class="resume-item active">
                            <div class="date">2015 - 2015</div>
                            <div class="name">Middle Python Dev -
                                <a href="https://facedigital.ru">Face Digital</a>, Moscow
                            </div>
                            <p>
                                Participation in the development
                                (<a href="https://amma.pet">Amma Pet</a>,
                                <a href="https://vassatrend.ru">Vassatrend</a>)
                                of online stores (Project work)
                            </p>
                        </div>
                        <div class="resume-item active">
                            <div class="date">2015 - 2015</div>
                            <div class="name">Middle Python Dev - <a href="https://platform.nti.work">NTI Platform</a>,
                                Moscow
                            </div>
                            <p>
                                Development of integration with subsidiary <a href="https://leader-id.ru">Leader ID</a>
                                (Project work)
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <!-- Skills -->
    <div class="section skills">
        <div class="content">
            <div class="title">
                <div class="title_inner">Coding Skills</div>
            </div>
            <div class="skills default">
                <ul>
                    <li>
                        <div class="name">CPython</div>
                        <div class="progress">
                            <div class="percentage" style="width:80%;">
                                <span class="percent">90%</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="name">SQL</div>
                        <div class="progress">
                            <div class="percentage" style="width:70%;">
                                <span class="percent">70%</span>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="name">C</div>
                        <div class="progress">
                            <div class="percentage" style="width:30%;">
                                <span class="percent">30%</span>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="name">Rust</div>
                        <div class="progress">
                            <div class="percentage" style="width:20%;">
                                <span class="percent">20%</span>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="name">C#</div>
                        <div class="progress">
                            <div class="percentage" style="width:30%;">
                                <span class="percent">30%</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="name">JS</div>
                        <div class="progress">
                            <div class="percentage" style="width:40%;">
                                <span class="percent">40%</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Skills -->
    <div class="section skills">
        <div class="content">
            <div class="title">
                <div class="title_inner">Languages Skills</div>
            </div>
            <div class="skills dotted">
                <ul>
                    <li>
                        <div class="name">English</div>
                        <div class="progress">
                            <div class="percentage" style="width: 50%;">
                                <span class="percent">50%</span>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="name">Ukrainian</div>
                        <div class="progress">
                            <div class="percentage" style="width: 90%;">
                                <span class="percent">90%</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Skills -->
    <div class="section skills">
        <div class="content">
            <div class="title">
                <div class="title_inner">Soft Skills</div>
            </div>
            <div class="skills circles">
                <ul>


                    <li>
                        <div class="name">Motivation</div>
                        <div class="progress p95">
                            <div class="percentage" style="width: 95%;">
                                <span class="percent">95%</span>
                            </div>
                            <span>95%</span>
                        </div>
                    </li>

                    <li>
                        <div class="name">Communication</div>
                        <div class="progress p80">
                            <div class="percentage" style="width: 80%;">
                                <span class="percent">80%</span>
                            </div>
                            <span>80%</span>
                        </div>
                    </li>

                    <li>
                        <div class="name">Purposefulness</div>
                        <div class="progress p85">
                            <div class="percentage" style="width: 85%;">
                                <span class="percent">85%</span>
                            </div>
                            <span>85%</span>
                        </div>
                    </li>

                    <li>
                        <div class="name">Learnability</div>
                        <div class="progress p90">
                            <div class="percentage" style="width: 90%;">
                                <span class="percent">90%</span>
                            </div>
                            <span>90%</span>
                        </div>
                    </li>
                    <li>
                        <div class="name">Cheerfulness</div>
                        <div class="progress p98">
                            <div class="percentage" style="width: 98%;">
                                <span class="percent">98%</span>
                            </div>
                            <span>98%</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Skills -->
    <div class="section skills">
        <div class="content">
            <div class="title">
                <div class="title_inner">Knowledge</div>
            </div>
            <div class="skills list">
                <ul>

                    <li>
                        <div class="name">System Design</div>
                    </li>
                    <li>
                        <div class="name">Algorithms</div>
                    </li>
                    <li>
                        <div class="name">Scaling</div>
                    </li>
                    <li>
                        <div class="name">Low-level literacy</div>
                    </li>
                    <li>
                        <div class="name">CPython Internals</div>
                    </li>
                    <li>
                        <div class="name">Memory Management</div>
                    </li>
                    <li>
                        <div class="name">Docker, *NIX(Linux, Mac)</div>
                    </li>
                    <li>
                        <div class="name">Databases (Sharding, Replications)</div>
                    </li>
                    <li>
                        <div class="name">Patterns (GoF, Enterprise)</div>
                    </li>
                    <li>
                        <div class="name">AntiPatterns</div>
                    </li>
                    <li>
                        <div class="name">Concurrency</div>
                    </li>
                    <li>
                        <div class="name">CPU/IO Bound</div>
                    </li>
                    <li>
                        <div class="name">TDD, EDD, DDD</div>
                    </li>
                    <li>
                        <div class="name">KISS, DRY, ACID</div>
                    </li>
                    <li>
                        <div class="name">REST, SOAP, HTTP/1/2, RPC</div>
                    </li>
                    <li>
                        <div class="name">SOLID, OOP</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="section skills">
        <div class="content">
            <div class="title">
                <div class="title_inner">Technology</div>
            </div>
            <div class="skills list">
                <ul>
                    <li>
                        <div class="name">Django</div>
                    </li>
                    <li>
                        <div class="name">Flask</div>
                    </li>
                    <li>
                        <div class="name">FastAPI</div>
                    </li>
                    <li>
                        <div class="name">Asyncio</div>
                    </li>
                    <li>
                        <div class="name">Aiohttp</div>
                    </li>
                    <li>
                        <div class="name">Postgresql</div>
                    </li>
                    <li>
                        <div class="name">Redis</div>
                    </li>
                    <li>
                        <div class="name">Celery</div>
                    </li>
                    <li>
                        <div class="name">RabbitMQ</div>
                    </li>
                    <li>
                        <div class="name">Docker</div>
                    </li>
                    <li>
                        <div class="name">Linux</div>
                    </li>
                    <li>
                        <div class="name">Git</div>
                    </li>
                    <li>
                        <div class="name">Bash</div>
                    </li>
                    <li>
                        <div class="name">Actix-web</div>
                    </li>
                    <
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %}