<footer id="footer_app">
    <!--    <center>-->
    <!--        <a style="cursor: pointer">-->
    <!--            <div id="theme_button" onclick="swap_theme()"></div>-->
    <!--        </a>-->
    <!--    </center>-->


    <div class="soc">
        {% if context.page == 'blog' %}
        <a style="cursor: pointer">
            <div id="reader_mode" onclick="swap_reader_mode()">Reader mode</div>
        </a>
        {% endif %}
        <a style="cursor: pointer">
            <div id="theme_button" onclick="swap_theme()"></div>
        </a>


        <!--        <a target="_blank" href="https://github.com/codefather-labs" title="GitHub"><span-->
        <!--                class="ion ion-social-github"></span></a>-->

        <!--        <a target="_blank" href="https://instagram.com/codefather.dev" title="Instagram"><span-->
        <!--                class="ion ion-social-instagram-outline"></span></a>-->

    </div>

    <a href="" class="copy" style="font-size: 12px;">codefather.dev - created with ❤️ from Ukraine 🇺🇦</a>
    <div class="clr"></div>
</footer>