<header id="header">
    <div class="head-top">
        <span class="sidebar_btn"><span></span></span>
        <a href="#" class="menu-btn"><span></span></a>

        <div class="top-menu">
            <ul>
                <li class="{% if context.page == 'main' %}active{% endif %}">
                    <a href="{% url 'core-urls:main_url' %}" class="lnk">Home</a>
                </li>
                <li class="{% if context.page == 'resume' %}active{% endif %}">
                    <a href="{% url 'core-urls:resume_url' %}" class="lnk">Resume</a>
                </li>
                <li class="{% if context.page == 'projects' %}active{% endif %}">
                    <a href="{% url 'core-urls:projects_url' %}" class="lnk">Projects</a>
                </li>
                <li class="{% if context.page == 'blog' %}active{% endif %}">
                    <a href="{% url 'core-urls:blog_url' %}" class="lnk">Blog</a>
                </li>
                <li class="{% if context.page == 'contacts' %}active{% endif %}">
                    <a href="{% url 'core-urls:contacts_url' %}" class="btn" data-text="Contacts">Contacts</a>
                </li>
                <!--                <li>-->
                <!--                    <a href="">-->
                <!--                        <div id="theme_button" onclick="swap_theme()"></div>-->
                <!--                    </a>-->
                <!--                </li>-->

            </ul>
        </div>
    </div>
</header>