{% load static %}
<!DOCTYPE html>
<html lang="en">
<head id="head">
    <!-- Meta -->
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    {% block meta %}
    {% endblock meta %}

    {% block styles %}
    {% include 'site/includes/styles.html' %}
    {% endblock styles %}

    {% block head_scripts %}
    {% include 'site/includes/head_scripts.html' %}
    {% endblock head_scripts %}
</head>

<body class="home" id="app">

<!-- Preloader -->
{% include 'site/includes/preloader.html' %}
<!-- Container -->
<div class="container" id="container">
    <!-- Navbar -->
    {% include 'site/includes/navbar.html' %}

    <!-- Wrapper -->
    {% block content %}
    {% endblock content %}

    <!-- Footer -->
    {% include 'site/includes/footer.html' %}
    <!-- Lines -->
    <div class="line top" id="line_top"></div>
    <div class="line bottom" id="line_bottom"></div>
    <div class="line left" id="line_left"></div>
    <div class="line right" id="line_right"></div>
</div>

<div class="s_overlay"></div>
<!--Sidebar-->
{% include 'site/includes/sidebar.html' %}

<!-- Plugins -->
{% include 'site/includes/plugins.html' %}
</body>

</html>